<div class="homepage">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<div class="home-content">
			<h1 class="text-center">Time Tracker</h1>
			<button ui-sref="Login" ui-sref-active="active" class="btn btn-warning form-control">User Login</button>
			<hr>
			<button ui-sref="AdminLogin" ui-sref-active="active" class="btn btn-info form-control">Admin Login</button>
			<a ui-sref="AdminLogin" ui-sref-active="active"></a>
		</div>
		</div>	
		
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="text-center">
				<span class="text-muted ">By Mahesh Patel</span>
			</div>
			
		</div>
	</div>
</div>